{% import "_includes/forms" as forms %}
<h2>Environmental Variables to Global Variables</h2>
<p>Any <a href="https://craftcms.com/docs/config-settings#environmentVariables" target="_blank">Environmental Variables</a> set in the general config file will be made accessible as a global variable within your Twig templating.</p>
{{ forms.lightswitch({
  id: 'envVarsToGlobalVars',
  name: 'envVarsToGlobalVars',
  on : settings["envVarsToGlobalVars"],
  errors: settings.getErrors('envVarsToGlobalVars'),
}) }}
